<!DOCTYPE html>
<html>
<head>
  <title>Sendnews</title>
  <%= stylesheet_link_tag    "sendnews/application" %>
  <%= javascript_include_tag "sendnews/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
